body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

input.dim {
    width: 3em;
}

button.emoji {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 1em;
}

button.emoji:hover {
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.spread {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.world {
    margin: 0.3em;
    padding: 0.3em;
    border-radius: 0.5em;
    background-color: whitesmoke;
}

.world-edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    margin-bottom: 0.5em;
    background-color: lightblue;
    box-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
    outline: 1px black solid;
    border-radius: 0.2em;
    padding: 0.2em 0.5em;
}

.world-edit > * {
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.world-container {
    display: grid;
    width: min-content;
    gap: 0.3em;
}

.world-field {
    outline: 1px black solid;
    padding: 0.2em;
    display: grid;
    gap: 0.2em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    width: 3.5em;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.to-input, .from-input {
    text-align: center;
    border: none;
    border-radius: 0.3em;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1.5em;
    font-weight: bold;
}

#author-input, #category-input, #title-input, #id-input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.3em;
    padding: 0.3em;
}

#panel-layout {
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 1em;
}

#main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
}

#world-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;
    outline: 1px black solid;
}

#descr-editor, #output-editor {
    width: 100%;
    height: 10em;
}

#preload-editor {
    width: 100%;
    height: 30em;
}

.has-bot::after {
    content: "🤖";
    position: absolute;
    translate: -1.3em;
    font-size: 0.8em;
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.has-bot:hover::after {
    opacity: 30%;
    pointer-events: none;
}

.has-block::before {
    content: "🧱";
    position: absolute;
    font-size: 0.8em;
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.has-block:hover::before {
    opacity: 30%;
    pointer-events: none;
}

.has-marker::before {
    content: "🏷️";
    position: absolute;
    font-size: 0.8em;
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.has-marker:hover::before {
    opacity: 30%;
    pointer-events: none;
}

.is-void::before {
    content: "🕳️";
    position: absolute;
    font-size: 0.8em;
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.is-void:hover::before {
    opacity: 30%;
    pointer-events: none;
}

.is-empty::before {
    content: "⬜";
    position: absolute;
    font-size: 0.8em;
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.is-empty:hover::before {
    opacity: 30%;
    pointer-events: none;
}

.is-wall::before {
    content: "🚧";
    position: absolute;
    font-size: 0.8em;
    text-shadow: rgba(0, 0, 0, 0.2) 0.1em 0.1em 0.3em;
}

.is-wall:hover::before {
    opacity: 30%;
    pointer-events: none;
}